html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing:inherit;
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-color: #F9F9F9
    ;
    font-family: 'Roboto', sans-serif;
  }
  
  .clearfix:after, .clearfix:before {
    content: '';
    display: table;
  }
  
  .clearfix:after {
    clear: both;
  }
  
  .wrapper {
    width: 600px; 
    padding: 38px 70px 180px;
    margin: 100px auto 0;  
    border-radius: 4px; 
    background-color: #CDF0EA
    ;
    background-image: url("https://photos-6.dropbox.com/t/2/AADfHkPG16LyoyFz-DH7fLVR9iuLQjLgKnBFZFthsUczcA/12/229493222/png/32x32/1/_/1/2/bicycle.png/EK_4j7wBGKAPIAIoAg/D2ek1uGMV1mAByO6gm1b1Af593jiaMjwzvv1XPiDCHk?preserve_transparency=1&size=1280x960&size_mode=3");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 183px;
    box-shadow: 0 5px 12px 1px rgba(0,0,0,.4);
  }
  
  .order-info {
    margin-bottom: 15px;
  }
  
  .order-title {
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 22px;
    line-height: 46px;
  }
  
  .order-text {
    margin-top: 0;
    font-size: 14px;
    color: #aaa;
  }
  
  .profile-link {
    float: right;
    padding: 8px;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .profile-link:hover {
    box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
  }
  
  .profile-icon {
    vertical-align: middle; 
  }
  
  .order-details {
    width: 100%;
  }
  
  .order-item-name {
    padding: 9px 0 18px;
    color: #5c5c5c;
    font-weight: 500;
  }
  
  tfoot .order-item-name {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .order-price {
    padding-top: 8px;
    vertical-align: top;
    color: #000;
    text-align: right;
    font-size: 19px;
    font-weight: bold;
  }